<!-- <div class="row">
    <div class="col-sm-12">
        <ul class="list-inline rating-list" 
            *ngFor="let star of stars" style="display: inline-block" >
              <li (click)="countStar(star)"
                  [ngClass]="{'selected': (star <= selectedValue)}">
                <i class="fa fa-star"></i>
              </li> 
        </ul>
    </div>
  </div> -->

  <div>
    <span class="icon" *ngFor="let s of maxItem">
      <i [ngClass]=" s <= this.ratedCount ? 'filled' :'' "
         class="fa fa-star"
         aria-hidden="true" (click)="toggleRating(s)"></i>
    </span>
  </div>