<div class="container">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#all" role="tab" data-toggle="tab"
        >Show All Products</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#onlyavailable" role="tab" data-toggle="tab"
        >Show Available Products</a
      >
    </li>
  </ul>
  <br />
  <br />
  <!-- <app-header [storevalue]="storevalue"></app-header>  -->
  <div class="tab-content">
    <!-- <div class="col-sm-4" *ngFor="let item of products;let i = index" > -->

    <div role="tabpanel" class="tab-pane fade in active" id="all">
      <div class="col-sm-4" *ngFor="let item of products; let i = index">
        <div class="pointer"(click)="onclickprd(item.productId)">
          <div appHighlight defaultColor="white" class="zoom1 product">
            <img
              class="img1 img-responsive"
              [src]="item.image"
              alt="carousel2"
            />
            <p>
              <strong>{{ item.name }}</strong>
            </p>
            <br />
            <p style="margin-top: -20px">{{ item.description }}</p>
            <br />
            <app-product-rating
              [productrating1]="productrating1"
              [productrating2]="productrating2"
              [productrating3]="productrating3"
            ></app-product-rating>

            <ng-container *ngIf="i == 0">
              <p *ngIf="Firstloop">{{ item.rating }}</p>
              <p>{{ changedoutputvalue1 }}</p>
              <app-starrating
                setRating="4"
                max="5"
                (onRating)="onRating($event)"
                (chagedvalue)="customFunc($event)"
              >
              </app-starrating>
            </ng-container>
            <ng-container *ngIf="i == 1">
              <p *ngIf="Secondloop">{{ item.rating }}</p>
              <p>{{ changedoutputvalue2 }}</p>
              <app-starratingprd2
                setRating="3"
                max="5"
                (onRating)="onRating($event)"
                (changedvalue)="customFunc2($event)"
              ></app-starratingprd2>
            </ng-container>
            <ng-container *ngIf="i == 2">
              <p *ngIf="Thirdloop">{{ item.rating }}</p>
              <p>{{ changedoutputvalue3 }}</p>
              <app-starratingprd3
                setRating="0"
                max="5"
                (onRating)="onRating($event)"
                (chagedvalue)="customFunc3($event)"
              ></app-starratingprd3>
            </ng-container>
            <div>
              <div id="buttonallign">
                <button class="btn btn-primary" (click)="onbuynow()">
                  Buy Now</button
                >&nbsp;&nbsp;&nbsp;
                <button
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#Review"
                >
                  User Review
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="onlyavailable">
      <div class="col-sm-4" *ngFor="let item of products; let i = index">
        <div (click)="onclickprd(item.productId)">
          <ng-container *ngIf="item.stock != 'NA'">
            <div appHighlight defaultColor="white" class="zoom1 product">
              <img class="img1 img-responsive" [src]="item.image" alt="image" />
              <p>
                <strong>{{ item.name }}</strong>
              </p>
              <br />
              <p style="margin-top: -20px">{{ item.description }}</p>
              <br />
              <app-product-rating
                [productrating1]="productrating1"
                [productrating2]="productrating2"
                [productrating3]="productrating3"
              ></app-product-rating>
              <p>{{ item.rating }}</p>
              <p>{{ changedoutputvalue1 }}</p>
              <app-starrating
                setRating="4"
                max="5"
                (onRating)="onRating($event)"
                (chagedvalue)="customFunc($event)"
              >
              </app-starrating>
              <div id="buttonallign">
                <button class="btn btn-primary">Buy Now</button
                >&nbsp;&nbsp;&nbsp;
                <button
                  data-toggle="modal"
                  data-target="#Review"
                  class="btn btn-primary"
                >
                  User Review
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>

<!-- <app-product-rating [productlist]="productlist"></app-product-rating> -->

<!-- Modal service call-->
<!-- Modal -->
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
<!-- <div class="modal fade" id="myModal" role="dialog"> -->
  <div class="modal fade" id="Review" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <strong>Moderate Reviews </strong>
      </div>
      <div class="modal-body">
        <!-- <input type="checkbox" id="Reviews" /> &nbsp;
        <label style="font-weight: 100" for="Reviews"
          >Show Accepted Reviews</label> -->
        <!--   <input type="checkbox" id="showAccReview"  name="showAccReview"  [(ngModel)]="theCheckbox"  data-md-icheck (change)='filterReview($event)'>
        <label for="showAccReview">Show Accepted Reviews</label>
        <br />
        <br />

       <div *ngFor="let option of list">
          <div class="itemlist">
             <span id="span-{{ option.id }}">{{ option.name }}</span>           
            <button
              id="btn-{{ option.id }}"
              type="button"
              class="btn btn-primary"
              (click)="toggleTodo(option.id)"
            >
              Reject Review
            </button>        
          <br />
        </div>
        <br /><br />
        <input
          style="float: left; line-height: 32px"
          type="text"
          [(ngModel)]="inputValue"
        />
        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="addreviewlist()">
          Add Review
        </button> -->
<input type="checkbox" id="showAccReview"  name="showAccReview"  [(ngModel)]="theCheckbox"  data-md-icheck (change)='filterReview($event)'>
        <label for="showAccReview">Show Accepted Reviews</label>
        <div *ngFor="let review of reviews;"  class="rejectReview">
            <div class="itemlist">
                <p>{{review}}</p>
                <button type="button" class="btn btn-primary rejectButton">Reject Review</button>        
            </div>
            <br>
        </div>
        <br>
        <br>
        <div class="addReview">
        <input type="text" #newReview (keyup.enter)="addReview(newReview.value); newReview.value=''" (blur)="addReview(newReview.value); newReview.value='' " name="review" >
        <button type="button" (click)="addReview(newReview.value)" class="btn btn-primary" >Add Review</button>
        </div>
        <br>
        <br>
        
      </div>     
    </div>
  </div>
</div>
<br />
<br />
<br />
